<html>
<head>
	<title>Messages</title>
	<link rel="stylesheet" href="/rsc/css/style.css">
	
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
  <script src="/rsc/js/vertx-eventbus.js"></script>
  <script type="text/javascript" src="/rsc/js/main.js"></script>
</head>

<body>

	<div id="header"></div>


	<div id="main-body">
		<h1>Messages</h1>
		<div id="messages"></div>
	</div>

</body>
</html>
